# Pandas

## Pandas Library

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Employee.csv') #Reading csv file

In [4]:
df #printing a dataset

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [7]:
print(df.to_string()) #Printing the complete details of dataset.

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  ExperienceInCurrentDomain  LeaveOrNot
0     Bachelors         2017  Bangalore            3   34    Male          No                          0           0
1     Bachelors         2013       Pune            1   28  Female          No                          3           1
2     Bachelors         2014  New Delhi            3   38  Female          No                          2           0
3       Masters         2016  Bangalore            3   27    Male          No                          5           1
4       Masters         2017       Pune            3   24    Male         Yes                          2           1
5     Bachelors         2016  Bangalore            3   22    Male          No                          0           0
6     Bachelors         2015  New Delhi            3   38    Male          No                          0           0
7     Bachelors         2016  Bangalore            3   34  Female          No                          2           1
8     Bachelors         2016       Pune            3   23    Male          No                          1           0
9       Masters         2017  New Delhi            2   37    Male          No                          2           0
10      Masters         2012  Bangalore            3   27    Male          No                          5           1
11    Bachelors         2016       Pune            3   34    Male          No                          3           0
12    Bachelors         2018       Pune            3   32    Male         Yes                          5           1
13    Bachelors         2016  Bangalore            3   39    Male          No                          2           0
14    Bachelors         2012  Bangalore            3   37    Male          No                          4           0
15    Bachelors         2017  Bangalore            1   29    Male          No                          3           0
16    Bachelors         2014  Bangalore            3   34  Female          No                          2           0
17    Bachelors         2014       Pune            3   34    Male          No                          4           0
18    Bachelors         2015       Pune            2   30  Female          No                          0           1
19    Bachelors         2016  New Delhi            2   22  Female          No                          0           1
20    Bachelors         2012  Bangalore            3   37    Male          No                          0           0
21      Masters         2017  New Delhi            2   28    Male          No                          4           0
22    Bachelors         2017  New Delhi            2   36    Male          No                          3           0
23    Bachelors         2015  Bangalore            3   27    Male         Yes                          5           0
24    Bachelors         2017  Bangalore            3   29    Male          No                          4           0
25    Bachelors         2013  Bangalore            3   22  Female         Yes                          0           0
26    Bachelors         2016  Bangalore            3   37    Male          No                          2           0
27    Bachelors         2015  Bangalore            3   23    Male          No                          1           0
28    Bachelors         2013       Pune            2   31  Female          No                          2           1
29      Masters         2017  New Delhi            2   30  Female          No                          2           0
30          PHD         2013  New Delhi            3   25    Male          No                          3           0
31    Bachelors         2014  Bangalore            3   23    Male          No                          1           0
32    Bachelors         2018  Bangalore            3   26    Male          No                          4           1
33    Bachelors         2016  Bangalore            3   40    Male          No                          5           0
34    Bachelors         2017       Pune            2   37  Female          No                          0           1
35    Bachelors         2014  Bangalore            1   30  Female          No                          3           0
36    Bachelors         2012  New Delhi            3   29    Male          No                          3           0
37    Bachelors         2018  New Delhi            2   34  Female          No                          0           1
38    Bachelors         2017       Pune            2   29  Female          No                          2           1
39    Bachelors         2014       Pune            3   30    Male         Yes                          4           0
40    Bachelors         2015  Bangalore            3   36    Male          No                          1           0
41      Masters         2017  New Delhi            2   23    Male          No                          1           0
42    Bachelors         2013  Bangalore            3   30    Male          No                          3           1
43    Bachelors         2014  Bangalore            3   36    Male          No                          0           0
44    Bachelors         2015       Pune            3   39    Male          No                          4           0
45    Bachelors         2014  Bangalore            3   23  Female          No                          1           0
46          PHD         2012  New Delhi            3   27    Male          No                          5           0
47      Masters         2013  New Delhi            3   35    Male          No                          2           0
48      Masters         2017  New Delhi            2   34    Male          No                          0           0
49    Bachelors         2013  Bangalore            3   30  Female          No                          1           0
50          PHD         2017  New Delhi            3   34    Male          No                          2           0
51    Bachelors         2015       Pune            2   26  Female          No                          4           1
52    Bachelors         2016  Bangalore            3   34  Female          No                          0           0
53    Bachelors         2014  Bangalore            3   31  Female         Yes                          5           0
54    Bachelors         2017  New Delhi            3   31  Female         Yes                          5           0
55          PHD         2013  New Delhi            3   28    Male          No                          2           0
56    Bachelors         2016  Bangalore            3   38    Male          No                          2           0
57      Masters         2014       Pune            3   39  Female          No                          2           0
58    Bachelors         2013       Pune            3   32    Male          No                          4           0
59      Masters         2017       Pune            2   36    Male          No                          2           1
60      Masters         2013  New Delhi            3   29    Male          No                          3           0
61    Bachelors         2015  Bangalore            3   30    Male          No                          5           0
62          PHD         2013  Bangalore            2   25    Male          No                          3           1
63    Bachelors         2014       Pune            1   22  Female          No                          0           1
64    Bachelors         2016  Bangalore            3   34    Male          No                          4           0
65    Bachelors         2018  Bangalore            3   40    Male          No                          1           1
66          PHD         2013  Bangalore            3   26    Male          No                          4           0
67    Bachelors         2014  New Delhi            3   28    Male          No                          0           0
68    Bachelors         2015  Bangalore            3   24  Female          No                          2           0
69      Masters         2017  Bangalore            3   40  Female          No                          2           1
70    Bachelors         2018  Bangalore            3   23  Female          No                          1           1
71      Masters         2017  Bangalore            3   31    Male          No                          4           0
72    Bachelors         2014       Pune            3   25  Female          No                          3           0
73    Bachelors         2014  Bangalore            1   27    Male          No                          5           0
74      Masters         2017  New Delhi            2   25  Female          No                          3           1
75    Bachelors         2015  Bangalore            3   40    Male          No                          0           1
76    Bachelors         2014  Bangalore            1   23  Female          No                          1           0
77    Bachelors         2017  Bangalore            3   23  Female          No                          1           0
78    Bachelors         2012  Bangalore            3   39    Male          No                          1           0
79          PHD         2015  New Delhi            1   37    Male          No                          1           0
80    Bachelors         2017       Pune            3   38    Male          No                          2           0
81    Bachelors         2013  Bangalore            3   31  Female          No                          0           1
82    Bachelors         2016  Bangalore            3   38    Male          No                          5           0
83    Bachelors         2017  Bangalore            3   25  Female          No                          3           0
84    Bachelors         2015  Bangalore            3   27  Female         Yes                          5           1
85    Bachelors         2016       Pune            2   36    Male          No                          0           1
86    Bachelors         2017       Pune            2   27  Female          No                          5           1
87      Masters         2015       Pune            2   32  Female          No                          4           0
88    Bachelors         2014  Bangalore            3   28    Male          No                          4           0
89      Masters         2012  New Delhi            3   32    Male          No                          2           0
90    Bachelors         2018  Bangalore            3   30    Male          No                          0           1
91    Bachelors         2015  New Delhi            3   22    Male          No                          0           0
92    Bachelors         2017  New Delhi            2   34  Female          No                          5           0
93      Masters         2013  New Delhi            3   36    Male          No                          2           0
94    Bachelors         2014  Bangalore            3   39    Male          No                          3           1
95          PHD         2018  Bangalore            3   26    Male          No                          4           1
96    Bachelors         2016  Bangalore            3   31  Female          No                          0           0
97    Bachelors         2014  Bangalore            3   27    Male          No                          5           1
98    Bachelors         2014  Bangalore            3   29  Female          No                          0           0
99    Bachelors         2015  Bangalore            3   24  Female          No                          2           1
100     Masters         2012       Pune            3   25    Male          No                          3           1
101   Bachelors         2013       Pune            3   25    Male          No                          3           0
102     Masters         2017  New Delhi            3   26  Female          No                          4           1
103   Bachelors         2015       Pune            2   28  Female         Yes                          1           1
104   Bachelors         2017  New Delhi            3   28    Male          No                          2           0
105     Masters         2015       Pune            1   28  Female          No                          3           1
106     Masters         2015  New Delhi            3   25    Male          No                          3           0
107   Bachelors         2017  Bangalore            3   28    Male          No                          1           0
108     Masters         2013       Pune            3   25    Male          No                          3           0
109   Bachelors         2015  Bangalore            2   25  Female          No                          3           1
110   Bachelors         2015  Bangalore            3   27  Female          No                          5           0
111   Bachelors         2017       Pune            2   27  Female          No                          5           1
112   Bachelors         2013  Bangalore            3   27    Male          No                          5           1
113   Bachelors         2012  Bangalore            3   25    Male          No                          3           0
114     Masters         2017  New Delhi            2   28    Male          No                          2           0
115   Bachelors         2014       Pune            1   26  Female          No                          4           1
116   Bachelors         2015  Bangalore            3   28    Male          No                          2           0
117     Masters         2013  New Delhi            3   26    Male          No                          4           0
118   Bachelors         2017  Bangalore            3   26  Female          No                          4           0
119   Bachelors         2017  New Delhi            2   25    Male          No                          3           0
120   Bachelors         2012  Bangalore            1   28  Female          No                          3           0
121         PHD         2015  New Delhi            3   26    Male          No                          4           0
122   Bachelors         2015  New Delhi            3   25  Female          No                          3           0
123   Bachelors         2012  Bangalore            3   26    Male          No                          4           1
124   Bachelors         2014  Bangalore            3   28  Female          No                          3           0
125     Masters         2014       Pune            3   24    Male          No                          2           0
126   Bachelors         2013  Bangalore            3   28    Male          No                          1           0
127   Bachelors         2015       Pune            3   27    Male          No                          5           0
128   Bachelors         2018  Bangalore            3   25    Male          No                          3           1
129     Masters         2013       Pune            1   24    Male          No                          2           1
130   Bachelors         2017  Bangalore            3   26  Female          No                          4           0
131   Bachelors         2013  Bangalore            3   28    Male          No                          1           1
132     Masters         2016  New Delhi            3   27    Male          No                          5           0
133     Masters         2017  Bangalore            3   26    Male          No                          4           0
134     Masters         2017  New Delhi            2   24    Male          No                          2           0
135     Masters         2018  New Delhi            3   26    Male          No                          4           1
136     Masters         2017  New Delhi            1   25  Female          No                          3           1
137   Bachelors         2012       Pune            3   28    Male          No                          2           0
138   Bachelors         2017  New Delhi            3   28    Male          No                          2           0
139   Bachelors         2013  Bangalore            3   26    Male          No                          4           0
140     Masters         2013  New Delhi            3   27    Male          No                          5           1
141   Bachelors         2017       Pune            2   24  Female          No                          2           1
142   Bachelors         2017  New Delhi            3   28  Female          No                          2           0
143   Bachelors         2016  Bangalore            3   26    Male          No                          4           0
144   Bachelors         2013  Bangalore            3   27  Female          No                          5           0
145     Masters         2015       Pune            2   28  Female          No                          3           0
146   Bachelors         2014  Bangalore            3   25    Male          No                          3           0
147   Bachelors         2016       Pune            3   28    Male          No                          1           0
148     Masters         2013  Bangalore            1   25    Male          No                          3           1
149   Bachelors         2015       Pune            3   26    Male          No                          4           0
150   Bachelors         2018  New Delhi            3   27  Female          No                          5           1
151   Bachelors         2016  Bangalore            3   24    Male          No                          2           1
152   Bachelors         2012       Pune            2   24  Female          No                          2           1
153   Bachelors         2014  Bangalore            3   26    Male          No                          4           0
154   Bachelors         2016       Pune            2   24  Female          No                          2           1
155     Masters         2012  New Delhi            3   26  Female          No                          4           0
156   Bachelors         2013  Bangalore            3   28  Female          No                          3           0
157   Bachelors         2012  Bangalore            3   24    Male          No                          2           1
158   Bachelors         2015  Bangalore            3   25    Male          No                          3           1
159   Bachelors         2016  Bangalore            3   28    Male          No                          3           0
160   Bachelors         2014  Bangalore            3   28  Female          No                          3           0
161   Bachelors         2013  Bangalore            3   26  Female          No                          4           0
162     Masters         2017  New Delhi            3   24  Female          No                          2           1
163   Bachelors         2016  Bangalore            3   25    Male          No                          3           1
164   Bachelors         2015  Bangalore            3   25    Male          No                          3           0
165   Bachelors         2014  Bangalore            3   27    Male          No                          5           0
166   Bachelors         2012  Bangalore            3   24    Male          No                          2           0
167   Bachelors         2014  Bangalore            3   25    Male          No                          3           0
168   Bachelors         2015  Bangalore            3   28    Male          No                          3           0

# Viewing and understanding the Data

In [8]:
# selecting starting 5 records of dataset
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [10]:
df.head(10) #selecting first 10 records from dataset

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
5,Bachelors,2016,Bangalore,3,22,Male,No,0,0
6,Bachelors,2015,New Delhi,3,38,Male,No,0,0
7,Bachelors,2016,Bangalore,3,34,Female,No,2,1
8,Bachelors,2016,Pune,3,23,Male,No,1,0
9,Masters,2017,New Delhi,2,37,Male,No,2,0

In [11]:
# Select last 5 records of dataset
df.tail()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [12]:
df.tail(2)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [14]:
# Understanding data using describe()
df.describe() #only works with a numaric data

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,LeaveOrNot
count,4653.000000,4653.000000,4653.000000,4653.000000,4653.000000
mean,2015.062970,2.698259,29.393295,2.905652,0.343864
std,1.863377,0.561435,4.826087,1.558240,0.475047
min,2012.000000,1.000000,22.000000,0.000000,0.000000
25%,2013.000000,3.000000,26.000000,2.000000,0.000000
50%,2015.000000,3.000000,28.000000,3.000000,0.000000
75%,2017.000000,3.000000,32.000000,4.000000,1.000000
max,2018.000000,3.000000,41.000000,7.000000,1.000000

In [17]:
df.describe(include=[int]) #Selecting the data from dataset by including specific datatype

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,LeaveOrNot
count,4653.000000,4653.000000,4653.000000,4653.000000,4653.000000
mean,2015.062970,2.698259,29.393295,2.905652,0.343864
std,1.863377,0.561435,4.826087,1.558240,0.475047
min,2012.000000,1.000000,22.000000,0.000000,0.000000
25%,2013.000000,3.000000,26.000000,2.000000,0.000000
50%,2015.000000,3.000000,28.000000,3.000000,0.000000
75%,2017.000000,3.000000,32.000000,4.000000,1.000000
max,2018.000000,3.000000,41.000000,7.000000,1.000000

In [18]:
#Selecting the data from dataset by excluding specific datatype
df.describe(exclude=[int])

        Education       City Gender EverBenched
count        4653       4653   4653        4653
unique          3          3      2           2
top     Bachelors  Bangalore   Male          No
freq         3601       2228   2778        4175

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
JoiningYear,4653.0,2015.062970,1.863377,2012.0,2013.0,2015.0,2017.0,2018.0
PaymentTier,4653.0,2.698259,0.561435,1.0,3.0,3.0,3.0,3.0
Age,4653.0,29.393295,4.826087,22.0,26.0,28.0,32.0,41.0
ExperienceInCurrentDomain,4653.0,2.905652,1.558240,0.0,2.0,3.0,4.0,7.0
LeaveOrNot,4653.0,0.343864,0.475047,0.0,0.0,0.0,1.0,1.0

In [20]:
#Understanding the dataset using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 254.5+ KB

In [21]:
# Getting the no of rows and columns of dataset 
df.shape

(4653, 9)

In [24]:
# getting a no of rows in dataset
df.shape[0] # in shape methode 0 indicates no of rows.

4653

In [25]:
df.shape[1] # in shape method 1 indicates no of columns.

9

In [26]:
#Get all the columns and its name from dataset
df.columns

Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
      dtype='object')

In [27]:
#convert columns into a list
list(df.columns)

['Education',
 'JoiningYear',
 'City',
 'PaymentTier',
 'Age',
 'Gender',
 'EverBenched',
 'ExperienceInCurrentDomain',
 'LeaveOrNot']

In [28]:
#Selecting a specific column from dataset
df['Age']

0       34
1       28
2       38
3       27
4       24
        ..
4648    26
4649    37
4650    27
4651    30
4652    33
Name: Age, Length: 4653, dtype: int64

In [29]:
#Display multiple columns from dataset
df[['Age','City','Gender']]

      Age       City  Gender
0      34  Bangalore    Male
1      28       Pune  Female
2      38  New Delhi  Female
3      27  Bangalore    Male
4      24       Pune    Male
...   ...        ...     ...
4648   26  Bangalore  Female
4649   37       Pune    Male
4650   27  New Delhi    Male
4651   30  Bangalore    Male
4652   33  Bangalore    Male

[4653 rows x 3 columns]

In [30]:
#Display Single column type
type(df['City'])

pandas.core.series.Series

In [32]:
#Display Multiple Column types
type(df[['Age','City']])

pandas.core.frame.DataFrame

In [33]:
# Featching specific rows
df.loc[]

<class 'SyntaxError'>: invalid syntax (<ipython-input-33-e883329c33a9>, line 2)

In [34]:
df.loc[0]

Education                    Bachelors
JoiningYear                       2017
City                         Bangalore
PaymentTier                          3
Age                                 34
Gender                            Male
EverBenched                         No
ExperienceInCurrentDomain            0
LeaveOrNot                           0
Name: 0, dtype: object

In [35]:
df.iloc[1]

Education                    Bachelors
JoiningYear                       2013
City                              Pune
PaymentTier                          1
Age                                 28
Gender                          Female
EverBenched                         No
ExperienceInCurrentDomain            3
LeaveOrNot                           1
Name: 1, dtype: object

In [36]:
df.iloc[-1]

Education                    Bachelors
JoiningYear                       2015
City                         Bangalore
PaymentTier                          3
Age                                 33
Gender                            Male
EverBenched                        Yes
ExperienceInCurrentDomain            4
LeaveOrNot                           0
Name: 4652, dtype: object

In [37]:
df.iloc[:,0]

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [38]:
#Checking for the missing values in dataframe
df.isnull()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
4648,False,False,False,False,False,False,False,False,False
4649,False,False,False,False,False,False,False,False,False
4650,False,False,False,False,False,False,False,False,False
4651,False,False,False,False,False,False,False,False,False
4652,False,False,False,False,False,False,False,False,False

In [40]:
# checing total null values in each column
df.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [5]:
# to get the total missing values in dataframe
df.isnull().sum().sum()

0

## Grouping in Pandas

In [6]:
a=df.groupby(by=['Age']) # Grouping the data

In [8]:
a.first() #To view the results of grouping

,Education,JoiningYear,City,PaymentTier,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
Age,,,,,,,,
22,Bachelors,2016,Bangalore,3,Male,No,0,0
23,Bachelors,2016,Pune,3,Male,No,1,0
24,Masters,2017,Pune,3,Male,Yes,2,1
25,PHD,2013,New Delhi,3,Male,No,3,0
26,Bachelors,2018,Bangalore,3,Male,No,4,1
27,Masters,2016,Bangalore,3,Male,No,5,1
28,Bachelors,2013,Pune,1,Female,No,3,1
29,Bachelors,2017,Bangalore,1,Male,No,3,0
30,Bachelors,2015,Pune,2,Female,No,0,1
31,Bachelors,2013,Pune,2,Female,No,2,1
32,Bachelors,2018,Pune,3,Male,Yes,5,1
33,Bachelors,2017,Bangalore,3,Male,No,2,0
34,Bachelors,2017,Bangalore,3,Male,No,0,0
35,Masters,2013,New Delhi,3,Male,No,2,0
36,Bachelors,2017,New Delhi,2,Male,No,3,0
37,Masters,2017,New Delhi,2,Male,No,2,0
38,Bachelors,2014,New Delhi,3,Female,No,2,0
39,Bachelors,2016,Bangalore,3,Male,No,2,0
40,Bachelors,2016,Bangalore,3,Male,No,5,0
41,Bachelors,2016,Bangalore,3,Male,No,0,0

In [9]:
x=df.groupby(['Age','Gender'])

In [10]:
x.first()

            Education  JoiningYear       City  PaymentTier EverBenched  \
Age Gender
22  Female  Bachelors         2016  New Delhi            2          No
    Male    Bachelors         2016  Bangalore            3          No
23  Female  Bachelors         2014  Bangalore            3          No
    Male    Bachelors         2016       Pune            3          No
24  Female  Bachelors         2015  Bangalore            3          No
    Male      Masters         2017       Pune            3         Yes
25  Female  Bachelors         2014       Pune            3          No
    Male          PHD         2013  New Delhi            3          No
26  Female  Bachelors         2015       Pune            2          No
    Male    Bachelors         2018  Bangalore            3          No
27  Female  Bachelors         2015  Bangalore            3         Yes
    Male      Masters         2016  Bangalore            3          No
28  Female  Bachelors         2013       Pune            1          No
    Male      Masters         2017  New Delhi            2          No
29  Female  Bachelors         2017       Pune            2          No
    Male    Bachelors         2017  Bangalore            1          No
30  Female  Bachelors         2015       Pune            2          No
    Male    Bachelors         2014       Pune            3         Yes
31  Female  Bachelors         2013       Pune            2          No
    Male      Masters         2017  Bangalore            3          No
32  Female    Masters         2015       Pune            2          No
    Male    Bachelors         2018       Pune            3         Yes
33  Female  Bachelors         2013  New Delhi            3          No
    Male    Bachelors         2017  Bangalore            3          No
34  Female  Bachelors         2016  Bangalore            3          No
    Male    Bachelors         2017  Bangalore            3          No
35  Female  Bachelors         2015       Pune            3          No
    Male      Masters         2013  New Delhi            3          No
36  Female    Masters         2017  New Delhi            3          No
    Male    Bachelors         2017  New Delhi            2          No
37  Female  Bachelors         2017       Pune            2          No
    Male      Masters         2017  New Delhi            2          No
38  Female  Bachelors         2014  New Delhi            3          No
    Male    Bachelors         2015  New Delhi            3          No
39  Female    Masters         2014       Pune            3          No
    Male    Bachelors         2016  Bangalore            3          No
40  Female    Masters         2017  Bangalore            3          No
    Male    Bachelors         2016  Bangalore            3          No
41  Female    Masters         2017  Bangalore            3          No
    Male    Bachelors         2016  Bangalore            3          No

            ExperienceInCurrentDomain  LeaveOrNot
Age Gender
22  Female                          0           1
    Male                            0           0
23  Female                          1           0
    Male                            1           0
24  Female                          2           0
    Male                            2           1
25  Female                          3           0
    Male                            3           0
26  Female                          4           1
    Male                            4           1
27  Female                          5           1
    Male                            5           1
28  Female                          3           1
    Male                            4           0
29  Female                          2           1
    Male                            3           0
30  Female                          0           1
    Male                            4           0
31  Female                          2           1
    Male                            4           0
32  Female                          4           0
    Male                            5           1
33  Female                          1           0
    Male                            2           0
34  Female                          2           1
    Male                            0           0
35  Female                          0           1
    Male                            2           0
36  Female                          5           0
    Male                            3           0
37  Female                          0           1
    Male                            2           0
38  Female                          2           0
    Male                            0           0
39  Female                          2           0
    Male                            2           0
40  Female                          2           1
    Male                            5           0
41  Female                          2           1
    Male                            0           0

In [11]:
x=df.groupby(['Age','Gender']).agg('min')

In [12]:
x

            Education  JoiningYear       City  PaymentTier EverBenched  \
Age Gender
22  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            2          No
23  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
24  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
25  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
26  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
27  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
28  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
29  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
30  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
31  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
32  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
33  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            2          No
34  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
35  Female  Bachelors         2012  Bangalore            2          No
    Male    Bachelors         2012  Bangalore            1          No
36  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
37  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
38  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
39  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
40  Female  Bachelors         2012  Bangalore            1          No
    Male    Bachelors         2012  Bangalore            1          No
41  Female  Bachelors         2012  Bangalore            2          No
    Male    Bachelors         2012  Bangalore            1          No

            ExperienceInCurrentDomain  LeaveOrNot
Age Gender
22  Female                          0           0
    Male                            0           0
23  Female                          1           0
    Male                            1           0
24  Female                          2           0
    Male                            2           0
25  Female                          3           0
    Male                            3           0
26  Female                          4           0
    Male                            4           0
27  Female                          5           0
    Male                            5           0
28  Female                          0           0
    Male                            0           0
29  Female                          0           0
    Male                            0           0
30  Female                          0           0
    Male                            0           0
31  Female                          0           0
    Male                            0           0
32  Female                          0           0
    Male                            0           0
33  Female                          0           0
    Male                            0           0
34  Female                          0           0
    Male                            0           0
35  Female                          0           0
    Male                            0           0
36  Female                          0           0
    Male                            0           0
37  Female                          0           0
    Male                            0           0
38  Female                          0           0
    Male                            0           0
39  Female                          0           0
    Male                            0           0
40  Female                          0           0
    Male                            0           0
41  Female                          0           0
    Male                            0           0

In [15]:
agg_functions= {
    'Age':
    ['sum','mean','median','min','max']
}

In [16]:
df.groupby(['Gender']).agg(agg_functions) #Viewing the Aggregate function with groupby method.

          Age
          sum      mean median min max
Gender
Female  55155  29.41600   28.0  22  41
Male    81612  29.37797   28.0  22  41

In [20]:
print(df.groupby(['Age','Gender']).groups)

{(22, 'Female'): [19, 25, 63, 4021, 4024, 4070, 4080, 4135, 4255, 4284, 4329, 4338, 4393, 4400, 4539, 4544, 4572, 4609, 4635], (22, 'Male'): [5, 91, 3991, 3993, 4025, 4048, 4069, 4098, 4119, 4144, 4154, 4185, 4225, 4234, 4248, 4286, 4305, 4318, 4325, 4357, 4358, 4377, 4381, 4436, 4472, 4491, 4530, 4536, 4561, 4626], (23, 'Female'): [45, 70, 76, 77, 4060, 4082, 4092, 4115, 4143, 4163, 4164, 4210, 4272, 4425, 4508, 4517, 4542, 4555, 4586, 4612], (23, 'Male'): [8, 27, 31, 41, 4011, 4028, 4046, 4054, 4084, 4112, 4147, 4188, 4211, 4214, 4218, 4221, 4308, 4314, 4316, 4375, 4404, 4413, 4443, 4512, 4540, 4550, 4563, 4607], (24, 'Female'): [68, 99, 141, 152, 154, 162, 178, 224, 236, 245, 254, 256, 284, 297, 308, 311, 322, 332, 335, 338, 341, 342, 363, 376, 389, 401, 428, 458, 473, 482, 492, 515, 521, 522, 561, 606, 608, 636, 641, 646, 663, 712, 721, 725, 730, 747, 765, 773, 795, 805, 806, 816, 830, 831, 882, 886, 888, 909, 911, 913, 920, 950, 956, 973, 990, 991, 1005, 1008, 1041, 1066, 1068, 1077, 1110, 1120, 1152, 1153, 1176, 1178, 1192, 1202, 1209, 1217, 1234, 1258, 1277, 1278, 1287, 1290, 1295, 1321, 1340, 1348, 1349, 1376, 1381, 1383, 1410, 1423, 1432, 1448, ...], (24, 'Male'): [4, 125, 129, 134, 151, 157, 166, 182, 185, 196, 204, 229, 230, 233, 235, 241, 262, 268, 290, 309, 316, 327, 329, 337, 343, 348, 366, 379, 385, 390, 402, 405, 408, 418, 445, 451, 454, 460, 461, 467, 481, 484, 485, 488, 491, 510, 511, 513, 524, 526, 529, 541, 543, 556, 596, 607, 654, 665, 680, 683, 687, 699, 703, 707, 719, 720, 726, 727, 734, 738, 739, 740, 758, 760, 766, 787, 793, 799, 801, 818, 820, 823, 839, 842, 850, 861, 862, 879, 898, 901, 914, 919, 927, 960, 962, 971, 974, 980, 983, 994, ...], (25, 'Female'): [72, 74, 83, 109, 122, 136, 186, 194, 200, 215, 218, 231, 234, 243, 282, 291, 305, 317, 330, 355, 358, 367, 368, 381, 410, 452, 478, 486, 494, 501, 516, 538, 539, 571, 576, 582, 622, 637, 644, 652, 658, 675, 677, 693, 708, 735, 741, 746, 759, 762, 769, 771, 774, 783, 810, 811, 815, 824, 837, 841, 847, 853, 892, 910, 934, 947, 967, 968, 975, 982, 984, 1016, 1028, 1031, 1034, 1047, 1053, 1055, 1069, 1071, 1074, 1092, 1104, 1105, 1122, 1148, 1198, 1200, 1243, 1263, 1264, 1265, 1279, 1282, 1294, 1312, 1323, 1325, 1327, 1332, ...], (25, 'Male'): [30, 62, 100, 101, 106, 108, 113, 119, 128, 146, 148, 158, 163, 164, 167, 171, 176, 177, 201, 206, 209, 220, 227, 240, 244, 251, 255, 273, 276, 280, 306, 312, 313, 326, 351, 354, 373, 394, 395, 396, 406, 411, 412, 417, 425, 441, 443, 446, 447, 453, 456, 462, 468, 479, 489, 498, 500, 502, 508, 518, 523, 525, 531, 533, 535, 540, 554, 559, 563, 564, 573, 581, 584, 585, 589, 597, 601, 625, 629, 635, 650, 651, 656, 659, 664, 667, 672, 682, 690, 733, 744, 752, 772, 778, 780, 784, 785, 796, 797, 800, ...], (26, 'Female'): [51, 102, 115, 118, 130, 155, 161, 203, 205, 237, 239, 249, 266, 269, 270, 295, 303, 318, 324, 340, 349, 350, 359, 364, 372, 375, 387, 398, 404, 409, 413, 414, 427, 435, 475, 483, 487, 530, 552, 577, 583, 590, 613, 617, 655, 666, 668, 679, 681, 689, 697, 700, 704, 722, 749, 754, 779, 792, 817, 834, 838, 840, 854, 870, 874, 897, 942, 944, 945, 957, 972, 988, 996, 999, 1000, 1059, 1083, 1093, 1096, 1100, 1114, 1118, 1128, 1135, 1138, 1155, 1157, 1179, 1183, 1193, 1211, 1221, 1222, 1232, 1249, 1262, 1275, 1285, 1307, 1308, ...], (26, 'Male'): [32, 66, 95, 117, 121, 123, 133, 135, 139, 143, 149, 153, 169, 174, 175, 188, 190, 191, 217, 219, 221, 232, 248, 263, 264, 281, 286, 287, 289, 294, 300, 304, 315, 323, 333, 352, 356, 360, 378, 384, 393, 399, 403, 421, 430, 436, 438, 449, 450, 457, 459, 466, 499, 505, 537, 542, 549, 557, 565, 566, 568, 569, 575, 579, 586, 587, 594, 611, 612, 615, 616, 618, 619, 628, 631, 639, 640, 645, 649, 673, 684, 686, 688, 694, 696, 702, 705, 715, 717, 724, 731, 750, 763, 767, 768, 777, 781, 789, 790, 798, ...], (27, 'Female'): [84, 86, 110, 111, 144, 150, 173, 193, 197, 211, 214, 226, 228, 258, 259, 261, 275, 285, 288, 293, 302, 334, 336, 346, 362, 415, 420, 469, 477, 504, 520, 546, 547, 550, 562, 610, 643, 670, 671, 674, 695, 698, 713, 714, 743, 755, 776, 791, 802, 803, 813, 825, 826, 832, 833, 843, 848, 856, 867, 926, 931, 932, 953, 977, 979, 989, 1003, 1018, 1019, 1023, 1024, 1032, 1049, 1063, 1064, 1079, 1090, 1094, 1095, 1097, 1119, 1124, 1136, 1141, 1145, 1165, 1173, 1188, 1203, 1205, 1212, 1215, 1228, 1233, 1235, 1260, 1280, 1314, 1316, 1317, ...], (27, 'Male'): [3, 10, 23, 46, 73, 97, 112, 127, 132, 140, 165, 179, 180, 181, 183, 189, 202, 207, 210, 216, 223, 247, 252, 265, 267, 283, 299, 307, 319, 339, 345, 347, 361, 371, 377, 382, 386, 392, 400, 422, 423, 424, 426, 431, 432, 434, 437, 439, 440, 442, 448, 455, 472, 480, 493, 495, 496, 507, 514, 519, 548, 553, 555, 567, 574, 588, 591, 593, 595, 598, 600, 604, 624, 626, 632, 634, 638, 642, 648, 691, 692, 701, 709, 710, 716, 718, 732, 742, 748, 782, 804, 808, 836, 845, 858, 860, 871, 877, 878, 880, ...], (28, 'Female'): [1, 103, 105, 120, 124, 142, 145, 156, 160, 170, 172, 184, 187, 212, 222, 242, 250, 257, 271, 274, 278, 301, 310, 314, 320, 331, 365, 374, 397, 433, 465, 474, 476, 490, 497, 503, 512, 534, 545, 558, 560, 570, 580, 603, 605, 621, 630, 653, 657, 660, 661, 676, 685, 711, 723, 729, 751, 753, 757, 764, 775, 788, 794, 807, 809, 812, 829, 835, 859, 864, 885, 894, 918, 923, 940, 949, 970, 978, 997, 1002, 1010, 1020, 1027, 1045, 1088, 1091, 1101, 1115, 1121, 1130, 1139, 1140, 1159, 1163, 1167, 1169, 1175, 1180, 1182, 1231, ...], (28, 'Male'): [21, 55, 67, 88, 104, 107, 114, 116, 126, 131, 137, 138, 147, 159, 168, 192, 195, 198, 199, 208, 213, 225, 238, 246, 253, 260, 272, 277, 279, 292, 296, 298, 321, 325, 328, 344, 353, 357, 369, 370, 380, 383, 388, 391, 407, 416, 419, 429, 444, 463, 464, 470, 471, 506, 509, 517, 527, 528, 532, 536, 544, 551, 572, 578, 592, 599, 602, 609, 614, 620, 623, 627, 633, 647, 662, 669, 678, 706, 728, 736, 737, 745, 756, 761, 770, 786, 819, 827, 828, 855, 857, 876, 883, 890, 903, 905, 907, 921, 929, 930, ...], (29, 'Female'): [38, 98, 1990, 2019, 2023, 2029, 2036, 2041, 2054, 2067, 2070, 2073, 2074, 2081, 2087, 2111, 2112, 2121, 2125, 2127, 2140, 2170, 2180, 2189, 2230, 2265, 2270, 2294, 2314, 2316, 2351, 2366, 2381, 2388, 2395, 2398, 2404, 2407, 2409, 2425, 2427, 2432, 2438, 2439, 2444, 2458, 2470, 2482, 2492, 2500, 2509, 2524, 2530, 2559, 2560, 2572, 2613, 2621, 2622, 2630, 2647, 2684, 2686, 2703, 2712, 2720, 2725, 2746, 2764, 2777, 2802, 2810, 2818, 2819, 2822, 2832, 2835, 2865, 2896, 2897, 2902, 2904, 2907, 2920, 2925, 2935, 2959, 2973, 4186, 4270, 4431, 4476, 4526], (29, 'Male'): [15, 24, 36, 60, 1991, 2003, 2011, 2016, 2024, 2038, 2046, 2063, 2078, 2086, 2103, 2114, 2141, 2144, 2145, 2150, 2151, 2152, 2160, 2166, 2167, 2174, 2182, 2191, 2192, 2196, 2197, 2199, 2205, 2207, 2209, 2210, 2217, 2221, 2244, 2249, 2253, 2264, 2272, 2278, 2279, 2283, 2288, 2301, 2310, 2311, 2333, 2357, 2358, 2362, 2371, 2376, 2378, 2440, 2471, 2504, 2510, 2514, 2515, 2525, 2542, 2545, 2550, 2553, 2557, 2575, 2587, 2593, 2594, 2600, 2601, 2604, 2606, 2609, 2623, 2635, 2639, 2650, 2656, 2662, 2672, 2674, 2677, 2680, 2688, 2690, 2697, 2706, 2711, 2719, 2737, 2738, 2739, 2751, 2761, 2775, ...], (30, 'Female'): [18, 29, 35, 49, 2014, 2021, 2027, 2028, 2055, 2084, 2102, 2128, 2147, 2175, 2206, 2211, 2214, 2220, 2222, 2227, 2252, 2268, 2273, 2275, 2290, 2313, 2343, 2344, 2348, 2355, 2359, 2361, 2369, 2374, 2375, 2402, 2421, 2445, 2483, 2496, 2508, 2517, 2519, 2529, 2577, 2591, 2602, 2614, 2638, 2640, 2643, 2655, 2667, 2685, 2689, 2722, 2756, 2759, 2767, 2784, 2789, 2790, 2796, 2817, 2831, 2843, 2849, 2873, 2882, 2885, 2891, 2927, 2951, 2958, 2963, 2980, 4047, 4156, 4176, 4323, 4373, 4383, 4627], (30, 'Male'): [39, 42, 61, 90, 2010, 2030, 2033, 2057, 2058, 2059, 2065, 2068, 2072, 2083, 2094, 2095, 2098, 2105, 2107, 2108, 2131, 2132, 2164, 2168, 2171, 2194, 2213, 2232, 2234, 2237, 2246, 2250, 2259, 2267, 2276, 2304, 2309, 2318, 2327, 2334, 2335, 2336, 2347, 2360, 2383, 2384, 2390, 2414, 2418, 2420, 2441, 2442, 2448, 2459, 2465, 2468, 2494, 2495, 2501, 2503, 2516, 2520, 2522, 2523, 2534, 2544, 2547, 2549, 2554, 2563, 2564, 2571, 2592, 2605, 2610, 2619, 2633, 2634, 2651, 2665, 2668, 2679, 2693, 2696, 2702, 2707, 2726, 2750, 2752, 2755, 2757, 2760, 2762, 2772, 2774, 2779, 2782, 2783, 2787, 2800, ...], (31, 'Female'): [28, 53, 54, 81, 96, 3030, 3061, 3064, 3108, 3123, 3226, 3256, 3263, 3295, 3304, 3379, 3526, 3528, 3529, 3556, 3570, 3587, 3664, 3670, 3747, 3844, 3870, 3889, 3908, 3910, 3957, 3973, 4014, 4059, 4213, 4238, 4356, 4376, 4395, 4403, 4569, 4632, 4643, 4645], (31, 'Male'): [71, 2997, 2998, 3001, 3007, 3067, 3084, 3124, 3134, 3161, 3181, 3191, 3195, 3199, 3246, 3306, 3311, 3324, 3331, 3354, 3366, 3369, 3383, 3404, 3407, 3418, 3425, 3443, 3499, 3521, 3543, 3546, 3557, 3582, 3590, 3605, 3607, 3611, 3631, 3676, 3694, 3714, 3746, 3750, 3757, 3816, 3845, 3850, 3865, 3868, 3903, 3919, 3925, 3930, 4001, 4003, 4007, 4229, 4240, 4279, 4290, 4293, 4296, 4302, 4304, 4317, 4342, 4344, 4362, 4392, 4415, 4419, 4482, 4503, 4518, 4531, 4537, 4588, 4598, 4600, 4621], (32, 'Female'): [87, 2993, 3011, 3024, 3122, 3135, 3151, 3182, 3185, 3208, 3210, 3237, 3265, 3375, 3420, 3454, 3455, 3483, 3494, 3536, 3548, 3568, 3593, 3599, 3614, 3648, 3665, 3688, 3716, 3721, 3729, 3733, 3851, 3866, 3884, 3970, 4010, 4062, 4149, 4247, 4276, 4298, 4401, 4416, 4553, 4573, 4644], (32, 'Male'): [12, 58, 89, 2995, 3003, 3013, 3020, 3032, 3041, 3066, 3073, 3086, 3104, 3107, 3157, 3172, 3184, 3187, 3198, 3269, 3273, 3298, 3329, 3340, 3345, 3365, 3378, 3384, 3393, 3395, 3398, 3409, 3423, 3429, 3434, 3466, 3485, 3492, 3540, 3559, 3562, 3565, 3572, 3592, 3630, 3634, 3646, 3647, 3658, 3673, 3679, 3697, 3701, 3737, 3753, 3797, 3801, 3818, 3826, 3836, 3869, 3915, 3918, 3944, 3955, 4029, 4050, 4072, 4075, 4091, 4102, 4113, 4196, 4207, 4260, 4262, 4273, 4275, 4332, 4348, 4368, 4426, 4570, 4631, 4637], (33, 'Female'): [3037, 3097, 3101, 3127, 3149, 3152, 3178, 3227, 3229, 3250, 3264, 3286, 3326, 3473, 3482, 3515, 3555, 3642, 3644, 3652, 3660, 3668, 3682, 3767, 3823, 3834, 3883, 3928, 3969, 4051, 4071, 4088, 4127, 4217, 4228, 4232, 4233, 4299, 4345, 4350, 4397, 4407, 4427, 4458, 4499, 4514, 4587, 4641], (33, 'Male'): [2999, 3040, 3049, 3058, 3065, 3069, 3076, 3098, 3148, 3205, 3222, 3296, 3297, 3307, 3325, 3412, 3415, 3433, 3446, 3456, 3539, 3545, 3553, 3560, 3585, 3586, 3600, 3604, 3619, 3622, 3635, 3655, 3681, 3710, 3739, 3744, 3745, 3749, 3762, 3768, 3776, 3778, 3785, 3827, 3846, 3852, 3878, 3921, 3937, 3950, 3956, 3963, 3964, 3972, 4056, 4079, 4134, 4153, 4167, 4194, 4230, 4256, 4261, 4321, 4370, 4398, 4430, 4441, 4442, 4447, 4449, 4457, 4461, 4492, 4582, 4652], (34, 'Female'): [7, 16, 37, 52, 92, 3074, 3100, 3115, 3183, 3193, 3197, 3235, 3270, 3320, 3349, 3373, 3385, 3442, 3481, 3488, 3498, 3520, 3577, 3598, 3606, 3620, 3677, 3690, 3725, 3756, 3758, 3761, 3800, 3809, 3810, 3815, 3838, 3904, 3947, 3998, 3999, 4018, 4073, 4083, 4122, 4181, 4189, 4219, 4267, 4292, 4306, 4351, 4367, 4506, 4556], (34, 'Male'): [0, 11, 17, 48, 50, 64, 3006, 3025, 3051, 3052, 3056, 3062, 3089, 3102, 3136, 3137, 3145, 3150, 3176, 3192, 3202, 3242, 3279, 3301, 3333, 3361, 3376, 3410, 3414, 3421, 3449, 3453, 3457, 3489, 3503, 3574, 3595, 3615, 3629, 3636, 3662, 3671, 3685, 3708, 3743, 3783, 3791, 3848, 3853, 3856, 3864, 3874, 3899, 3907, 3931, 3941, 3943, 3953, 3959, 3981, 3985, 3990, 4004, 4015, 4027, 4067, 4131, 4133, 4145, 4170, 4208, 4310, 4335, 4394, 4402, 4483, 4487, 4501, 4562, 4585, 4615], (35, 'Female'): [2992, 3005, 3042, 3046, 3057, 3082, 3090, 3111, 3129, 3170, 3206, 3248, 3260, 3261, 3267, 3277, 3305, 3317, 3353, 3403, 3430, 3448, 3452, 3458, 3475, 3501, 3508, 3547, 3573, 3584, 3639, 3712, 3723, 3726, 3837, 3945, 3974, 4023, 4126, 4146, 4162, 4192, 4245, 4265, 4322, 4434, 4440, 4462, 4473, 4509, 4549], (35, 'Male'): [47, 3053, 3060, 3072, 3126, 3133, 3167, 3196, 3204, 3212, 3214, 3230, 3234, 3245, 3274, 3293, 3318, 3319, 3322, 3351, 3389, 3401, 3417, 3435, 3450, 3459, 3490, 3551, 3552, 3581, 3588, 3591, 3633, 3654, 3666, 3667, 3693, 3699, 3703, 3706, 3717, 3741, 3798, 3804, 3830, 3847, 3867, 3876, 3888, 3896, 3916, 3917, 3961, 3965, 3982, 3986, 4008, 4064, 4078, 4106, 4109, 4174, 4199, 4380, 4382, 4448, 4478, 4485, 4516, 4565, 4629, 4640], (36, 'Female'): [3014, 3028, 3077, 3085, 3121, 3125, 3158, 3160, 3166, 3200, 3223, 3232, 3233, 3252, 3275, 3314, 3336, 3342, 3402, 3487, 3507, 3550, 3576, 3603, 3608, 3719, 3724, 3735, 3770, 3771, 3774, 3822, 3835, 3857, 3893, 3924, 3934, 3996, 4002, 4016, 4022, 4034, 4074, 4095, 4117, 4136, 4158, 4197, 4202, 4237, 4249, 4330, 4337, 4417, 4420, 4438, 4450, 4456, 4497, 4522, 4557, 4594, 4642], (36, 'Male'): [22, 40, 43, 59, 85, 93, 2990, 3015, 3016, 3021, 3022, 3023, 3036, 3043, 3047, 3080, 3096, 3117, 3138, 3159, 3177, 3211, 3239, 3244, 3254, 3280, 3358, 3370, 3392, 3396, 3408, 3413, 3427, 3432, 3436, 3447, 3476, 3495, 3516, 3517, 3523, 3534, 3542, 3628, 3632, 3674, 3705, 3707, 3709, 3720, 3780, 3811, 3833, 3841, 3843, 3860, 3875, 3894, 3911, 3933, 3946, 4041, 4085, 4236, 4303, 4315, 4334, 4352, 4372, 4386, 4528, 4529, 4575, 4583, 4590, 4599], (37, 'Female'): [34, 2996, 3010, 3045, 3079, 3116, 3194, 3213, 3215, 3251, 3258, 3278, 3285, 3308, 3335, 3352, 3356, 3359, 3372, 3381, 3478, 3493, 3497, 3502, 3509, 3519, 3589, 3649, 3702, 3713, 3722, 3748, 3760, 3777, 3792, 3796, 3831, 3840, 3863, 3939, 3942, 3948, 3984, 3997, 4187, 4204, 4220, 4281, 4313, 4379, 4500, 4515, 4521, 4533, 4547, 4571, 4636], (37, 'Male'): [9, 14, 20, 26, 79, 2991, 3000, 3012, 3019, 3026, 3087, 3118, 3142, 3144, 3153, 3154, 3155, 3165, 3190, 3281, 3291, 3334, 3338, 3339, 3341, 3346, 3350, 3362, 3364, 3387, 3405, 3419, 3439, 3445, 3461, 3477, 3506, 3512, 3530, 3544, 3558, 3561, 3596, 3656, 3687, 3732, 3736, 3738, 3754, 3755, 3763, 3769, 3786, 3795, 3802, 3803, 3824, 3832, 3859, 3871, 3901, 3912, 3936, 4019, 4032, 4066, 4100, 4110, 4114, 4128, 4139, 4165, 4184, 4258, 4369, 4387, 4477, 4498, 4504, 4574, 4601, 4625, 4633, 4649], (38, 'Female'): [2, 3029, 3035, 3130, 3147, 3189, 3201, 3221, 3255, 3259, 3262, 3268, 3287, 3290, 3300, 3416, 3428, 3440, 3460, 3462, 3480, 3484, 3554, 3663, 3727, 3759, 3765, 3790, 3861, 3862, 3877, 3879, 3886, 3891, 3906, 3913, 3922, 3962, 3977, 3988, 4068, 4097, 4157, 4168, 4223, 4307, 4346, 4496, 4545, 4606, 4618, 4620, 4634], (38, 'Male'): [6, 56, 80, 82, 3050, 3105, 3106, 3141, 3143, 3162, 3163, 3186, 3209, 3231, 3241, 3284, 3303, 3310, 3363, 3371, 3399, 3470, 3471, 3491, 3518, 3522, 3532, 3569, 3571, 3575, 3580, 3601, 3609, 3616, 3621, 3638, 3645, 3651, 3657, 3661, 3691, 3698, 3700, 3711, 3718, 3734, 3788, 3799, 3819, 3825, 3828, 3880, 3887, 3897, 3929, 3940, 3978, 3980, 3987, 4020, 4031, 4137, 4159, 4180, 4183, 4250, 4254, 4277, 4285, 4287, 4288, 4326, 4328, 4347, 4361, 4391, 4399, 4410, 4465, 4511, 4604, 4619, 4624], (39, 'Female'): [57, 2994, 3044, 3054, 3088, 3092, 3093, 3109, 3120, 3131, 3140, 3203, 3220, 3243, 3283, 3294, 3315, 3327, 3330, 3337, 3411, 3465, 3538, 3566, 3578, 3610, 3683, 3728, 3807, 3812, 3849, 3858, 3900, 3902, 3909, 3923, 3926, 3951, 3976, 4036, 4039, 4155, 4216, 4241, 4251, 4268, 4333, 4341, 4396, 4405, 4424, 4428, 4453, 4471, 4490, 4527, 4552, 4568, 4589, 4617, 4628], (39, 'Male'): [13, 44, 78, 94, 3018, 3038, 3039, 3059, 3068, 3071, 3078, 3081, 3112, 3128, 3146, 3164, 3216, 3228, 3240, 3266, 3282, 3292, 3302, 3312, 3316, 3377, 3390, 3424, 3431, 3437, 3451, 3479, 3505, 3514, 3531, 3613, 3617, 3618, 3624, 3625, 3637, 3695, 3696, 3730, 3731, 3740, 3742, 3752, 3784, 3854, 3882, 3885, 3905, 3960, 3968, 3975, 4038, 4089, 4108, 4311, 4327, 4437, 4489, 4493, 4494, 4507, 4578, 4584, 4602, 4608], (40, 'Female'): [69, 3002, 3063, 3070, 3075, 3091, 3113, 3119, 3168, 3174, 3180, 3225, 3272, 3276, 3288, 3299, 3309, 3343, 3347, 3360, 3368, 3382, 3388, 3444, 3504, 3513, 3533, 3537, 3563, 3564, 3579, 3594, 3640, 3659, 3672, 3675, 3692, 3715, 3779, 3794, 3829, 3949, 3967, 3971, 3979, 4111, 4118, 4129, 4141, 4295, 4355, 4439, 4463, 4488, 4495, 4605, 4616], (40, 'Male'): [33, 65, 75, 3027, 3034, 3095, 3099, 3103, 3156, 3169, 3175, 3188, 3207, 3217, 3249, 3253, 3257, 3313, 3323, 3332, 3344, 3348, 3357, 3367, 3380, 3397, 3438, 3441, 3464, 3467, 3468, 3511, 3524, 3597, 3612, 3627, 3643, 3650, 3653, 3684, 3766, 3773, 3781, 3782, 3787, 3789, 3793, 3805, 3806, 3814, 3817, 3820, 3839, 3872, 3881, 3892, 3932, 3952, 3954, 3966, 4017, 4096, 4101, 4132, 4169, 4178, 4205, 4227, 4266, 4301, 4366, 4388, 4466, 4469, 4558, 4559, 4577], (41, 'Female'): [3008, 3031, 3033, 3094, 3171, 3218, 3236, 3238, 3247, 3406, 3469, 3472, 3510, 3549, 3669, 3678, 3704, 3751, 3808, 3842, 3855, 3898, 3935, 3938, 3958, 3989], (41, 'Male'): [3004, 3009, 3017, 3048, 3055, 3083, 3110, 3114, 3132, 3139, 3173, 3179, 3219, 3224, 3271, 3289, 3321, 3328, 3355, 3374, 3386, 3391, 3394, 3400, 3422, 3426, 3463, 3474, 3486, 3496, 3500, 3525, 3527, 3535, 3541, 3567, 3583, 3602, 3623, 3626, 3641, 3680, 3686, 3689, 3764, 3772, 3775, 3813, 3821, 3873, 3890, 3895, 3914, 3920, 3927, 3983]}

In [21]:
df.groupby('Education').sum()

C:\Users\malam\AppData\Local\Temp\ipykernel_14556\384043374.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Education').sum()

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,LeaveOrNot
Education,,,,,
Bachelors,7255595,9914,105952,10481,1129
Masters,1759799,2152,25571,2518,426
PHD,360694,489,5244,521,45

# Pandas Merging, Joining

In [24]:
#Creating a Employee data Dictionary
data1={
    'Name':['Riya','Pooja', 'nitin','padam'],
    'Age':[25,28,32,22],
    'Address':['Thane','Jaipur','Nagpur','Noida'],
    'Salary':[25000,40000,35000,30000],
    'Qualificatio':['Btech','Bsc','Bcom','Phd']
}

In [25]:
#Creating a Employee data Dictionary
data2={
    'Name':['Arti','Sapna', 'nitin','padam'],
    'Age':[27,28,30,22],
    'Address':['Thane','Jaipur','Bhopal','Patna'],
    'Salary':[25000,45000,38000,30000],
    'Qualificatio':['Msc','Bsc','Bcom','MCA']
}

In [26]:
#Converting Data into Dataframe
df1=pd.DataFrame(data1,index=[0,1,2,3])

In [27]:
#Converting Data into Dataframe
df2=pd.DataFrame(data2, index=[4,5,6,7])

In [31]:
print(df1, "\n\n", df2) #

    Name  Age Address  Salary Qualificatio
0   Riya   25   Thane   25000        Btech
1  Pooja   28  Jaipur   40000          Bsc
2  nitin   32  Nagpur   35000         Bcom
3  padam   22   Noida   30000          Phd

     Name  Age Address  Salary Qualificatio
4   Arti   27   Thane   25000          Msc
5  Sapna   28  Jaipur   45000          Bsc
6  nitin   30  Bhopal   38000         Bcom
7  padam   22   Patna   30000          MCA

In [32]:
#Concatinating the dataframes
a=[df1,df2]
res=pd.concat(a)

In [33]:
res #Printing the result

    Name  Age Address  Salary Qualificatio
0   Riya   25   Thane   25000        Btech
1  Pooja   28  Jaipur   40000          Bsc
2  nitin   32  Nagpur   35000         Bcom
3  padam   22   Noida   30000          Phd
4   Arti   27   Thane   25000          Msc
5  Sapna   28  Jaipur   45000          Bsc
6  nitin   30  Bhopal   38000         Bcom
7  padam   22   Patna   30000          MCA

In [34]:
Data1={
    'Name':['Riya','Payal','Madhu','Neha'],
    'Address':['Kalyan','Dombivali','Shahad','Thakurli'],
    'Age':[25,33,32,30],
    'Qualification':['BA','MCOM','MSC','BSC'],
    'Mobile No':[98,94,97,96]
}

In [35]:
Data2={
    'Name':['Palak','Rahul','Madhu','Neha'],
    'Address':['Kalyan','Thane','Shahad','Kurla'],
    'Age':[27,33,31,30],
    'Qualification':['BCA','MCA','MSC','BSC'],
    'Salary':[1000,2000,3000,4000]
}

In [36]:
#Converting Data into Dataframe
df1=pd.DataFrame(Data1,index=[0,1,2,3])

In [37]:
#Converting Data into Dataframe
df2=pd.DataFrame(Data2, index=[4,5,6,7])

In [38]:
print(df1, "\n\n", df2)

    Name    Address  Age Qualification  Mobile No
0   Riya     Kalyan   25            BA         98
1  Payal  Dombivali   33          MCOM         94
2  Madhu     Shahad   32           MSC         97
3   Neha   Thakurli   30           BSC         96

     Name Address  Age Qualification  Salary
4  Palak  Kalyan   27           BCA    1000
5  Rahul   Thane   33           MCA    2000
6  Madhu  Shahad   31           MSC    3000
7   Neha   Kurla   30           BSC    4000

In [43]:
res=pd.concat([df1,df2], axis=1, join='outer')

In [44]:
res

,Name,Address,Age,Qualification,Mobile No,Name,Address,Age,Qualification,Salary
0,Riya,Kalyan,25.0,BA,98.0,NaN,NaN,NaN,NaN,NaN
1,Payal,Dombivali,33.0,MCOM,94.0,NaN,NaN,NaN,NaN,NaN
2,Madhu,Shahad,32.0,MSC,97.0,NaN,NaN,NaN,NaN,NaN
3,Neha,Thakurli,30.0,BSC,96.0,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Palak,Kalyan,27.0,BCA,1000.0
5,NaN,NaN,NaN,NaN,NaN,Rahul,Thane,33.0,MCA,2000.0
6,NaN,NaN,NaN,NaN,NaN,Madhu,Shahad,31.0,MSC,3000.0
7,NaN,NaN,NaN,NaN,NaN,Neha,Kurla,30.0,BSC,4000.0